#root {
  max-width: 1280;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('assets/FULL_GAME.jpg'); */
}


.background-game {
  background-image: url('assets/FULL_GAME.jpg'); /* Imagen para cuando el juego está activo */
  margin-top: -35px;
}

.background-start {
  background-image: url('assets/innStart.jpg'); /* Imagen para cuando el juego no está activo */
  margin-top: -35px;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* Asegúrate de que esta ruta sea correcta */
}


.container {
  position: relative;
  width: 100vw;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('assets/FULL_GAME.jpg'); */
  overflow: hidden;
}

.pad {
  position: absolute;
  width: 200px; 
  height: 200px;
  margin: 15px; 
  border-radius: 50%; 
  transition: transform 0.2s; 
}

.pad:hover {
  cursor: pointer;
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
}

.pad-0 {
  top: 450px; /*AMARILLO*/
  left: 280px; 
}

.pad-1 {
  top: 270px; /*  AZUL */
  left: 750px; 
}

.pad-2 {
  top: 500px; /*ROJO */
  right: 580px; 
}

.pad-3 {
  top: 260px; /* VERDE */
  right: 210px; 
}

