#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: black;
  padding: 30px;
  border-radius: 50%;
}

.pad {
  position: absolute;
  width: 120px; /* Ancho igual al alto para que sean redondos */
  height: 120px; /* Alto igual al ancho para que sean redondos */
  margin: 15px; /* Espaciado entre botones */
  border-radius: 50%; /* Hace que los botones sean perfectamente redondos */
  transition: transform 0.2s; /* Añade una transición para el efecto de clic */
}

.pad:hover {
  cursor: pointer;
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
}


.pad-1 {
  top: 100px; /* 20px desde el borde superior AZUL */
  left: 100px; /* 20px desde el borde izquierdo */
}

.pad-2 {
  bottom: 100 px; /* 20px desde el borde inferior ROJO */
  right: 20px; /* 20px desde el borde derecho */
}

.pad-3 {
  top: 600px; /* 20px desde el borde superior VERDE */
  left: 100px; /* 20px desde el borde izquierdo */
}

.pad-4 {
  bottom: 20px; /* 20px desde el borde inferior */
  right: 20px; /* 20px desde el borde derecho */
}